{% extends "project_tracker/base.html" %}

{% block title %}
Notifications
{% endblock %}

{% block content %}

<div class="wrapper">

    <div class="page-header">
        <h1>Notifications</h1>
        <p>Your recent activity</p>
    </div>

    <div class="notifications-page">

        {% if notifications %}

            {% for n in notifications %}

                <a
                    href="{{ url_for('notifications.open_notification', id=n.id) }}"
                    class="notification-card {% if not n.is_read %}unread{% endif %}"
                >

                    <div class="notification-card-title">
                        {{ n.title }}
                    </div>

                    <div class="notification-card-message">
                        {{ n.message }}
                    </div>

                    <div class="notification-card-date">
                        {{ n.created_at.strftime("%d %b %Y %I:%M %p") }}
                    </div>

                </a>

            {% endfor %}

        {% else %}

            <div class="notification-empty">
                You have no notifications.
            </div>

        {% endif %}

    </div>

</div>

{% endblock %}